<div class="flex flex-col w-40 h-full justify-between">
  <div>
    <button
      class="w-full"
      type="button"
      mat-button
      mat-stroked-button
      (click)="navigate('home')"
    >
      Página principal
    </button>
    <button
      class="w-full"
      type="button"
      mat-button
      mat-stroked-button
      (click)="navigate('product')"
    >
      Gestionar Productos
    </button>
    <button
      class="w-full"
      type="button"
      mat-button
      mat-stroked-button
      (click)="navigate('sell')"
    >
      Gestionar Ventas
    </button>
  </div>

  <button
    class="w-full"
    type="button"
    mat-button
    mat-stroked-button
    (click)="logout()"
  >
    Salir
  </button>
</div>
