<div class="flex flex-col justify-center items-center gap-6 w-full h-full">
  <h1>Iniciar Sesión</h1>

  <form
    [formGroup]="form"
    class="flex flex-col justify-center items-center gap-2"
  >
    <mat-form-field appearance="outline" class="w-80">
      <mat-label>Nombre: </mat-label>
      <input matInput formControlName="_name" type="text" />
      <mat-error>{{ nameError }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-80">
      <mat-label>Contraseña: </mat-label>
      <input matInput formControlName="_password" [type]="typePassword" />
      <mat-icon
        *ngIf="isVisible; else invisible"
        matSuffix
        (click)="toggleVisibility()"
        >visibility_off</mat-icon
      >
      <ng-template #invisible>
        <mat-icon matSuffix (click)="toggleVisibility()"
          >visibility</mat-icon
        >
      </ng-template>

      <mat-error>{{ passwordError }}</mat-error>
    </mat-form-field>

    <button mat-raised-button class="w-80" color="primary" (click)="login()">
      Iniciar Sesión
    </button>
  </form>
</div>
